@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://static.wixstatic.com/media/ea71bb_73e8260cc2ab466db7bae785fd4d5f3d.jpg/v1/fill/w_980,h_842,al_c,q_85,usm_0.66_1.00_0.01/ea71bb_73e8260cc2ab466db7bae785fd4d5f3d.webp); 
}

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 1rem;
    background: rgb(197, 152, 37);
    width: 100%;
    height: 21vh;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.76);
    flex-wrap: wrap;
}

img{
    width: 320px;
    height: 110px;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    align-items: flex-end;
    height: 32px;
    margin-left: 10px;
}

#abrirMenu{
   display: none;
   cursor: pointer;
}

#abrirMenu div{
    width: 28px;
    height: 2px;
    background-color: #fff;
    margin: 6px;
}

a:hover{
    color: #5e1823;
}

li{
    padding: 10px;
}

#listaNavegacaoDesktop{
    list-style-type: none;
    display: flex;
}

#listaNavegacaoDesktop li{
    padding-right: 0.8rem;
    letter-spacing: 2px;
}

#listaNavegacaoMobile{
    display: none;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.75);
    background: rgb(197, 152, 37);
}


p{
    font-family: 'Lora', serif;;
    color: #fff;
    padding: 15px;
}

@media (max-width: 680px) {
    img{
        margin: auto;
        padding: 0;
        width: 299px;
        height: 100px;
    }

    nav{
        background-size: 270px;
    }

    .navOn{
        display: none;
    }

    li{
        display: none;
    }

    #abrirMenu{
        display: block;
    }

    #listaNavegacaoMobile{
        position: absolute;
        top: 23vh;
        right: 0;
        width: 45vw;
        height: 63vh;
        background: rgb(197, 152, 37);;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 10px;
    }

    #listaNavegacaoMobile li{
        margin-left: 0;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
    }

    p{
        text-align: center;
        padding: 3px;
        font-family: 'Lora', serif;
        color: #fff;
    }

}