* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
  }
  
  input, label {
    display: block;
    outline: none;
    width: 100%;
  }
  
  body {
    padding-top: 5vh;
    background-image: url('../Images/fundo.jpeg');
    background-size: cover;
    background-position-y: -150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #for {
    width: 73vh;
    margin-left: auto;
    margin-right: 15vh;
    background-color: rgb(197, 152, 37);
    border-radius: 55px;
    padding: 25px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.924);
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  label {
    font-weight: bold;
    font-size: .8rem;
  }
  
  input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
  }
  
  input:focus {
    border-color: #f83218;
  }
  
  input[type="submit"] {
    background-color:#5e1823;
    color: rgba(255, 255, 255, 0.671);
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
  }

  #agreement, #agreement-label {
    display: inline-block;
    width: auto;
  }

  .texto{
    font-weight: bold;
    font-size: .8rem;
    top: 57px;
    font-size: 22px;
    /* margin-right: 15px; */
    text-align: center;
    padding-left: 0.5rem;
  }
  .caixa{
    border-style: ridge;
  }
  footer{
    background-color:rgb(197, 152, 37);
    width:100vw ;
    display: flex;
  }
  